/* =====================
  Global Header (matches screenshot layout)
===================== */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.topbar  {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.topbar-nav {
  display: flex;
}





// .test-div {
//   display: flex;
//   width: 40%;
// }

.nav-items {

  display: flex;
  margin-top: 7px;
  font-size: 14px;
  list-style: none;
  align-items: center;
  height: 100%;
  

}  



.li-test a {
  width: 210px;
  height: 100%;
  color: #898989;
  display: flex;
  align-items: center;
  padding-left: 15px;


}

input.search-input{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color:white;
  
}





// .nav-text span {
//   text-align: center;

// }




.li-test a:hover {
  border-radius: 8px;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  background-color: #202020;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
  svg{
  stroke: white;
  fill: white;
  path{
    stroke: white;
  }
  }

}



.icons{
  background-color: none;
  display: flex;
  align-items: center;

  svg {
    stroke: #898989;
    transform:scale(1.05);
    
  }
  
}



.sidebar-in-nav {
  display: flex;
}

.sidebar-list {
  display: flex;
  justify-content: center;
  height: 41px;
  width: 100%;
  gap: 13px;
  align-items: center;
}

