/* =====================
  Helpers
===================== */
@use "../abstracts/variables" as *;



/* =====================
  Base
===================== */

html,
body {
  height: 100%;
}

body {
  min-width: 1200px;
  background-color: $color-body;
  color: $color-text-primary;
  font-family: $font-primary;

  }
  


.app {
  min-height: 100vh;
  background-color: $color-body;
}

