/* =====================
  Reset / Base
===================== */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-bg-primary;
  color: $color-text-primary;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
